  * {
            margin: 0;
            padding: 0;
        }

        body {
            font-family: 'Netflix Sans', 'Helvetica Neue';
            background-color:black;
            color: white;
        }
        .main1 {
            position: relative;
            height: 100vh;
            background: linear-gradient(
                to bottom,
                rgba(0, 0, 0, 0.8) 0%,
                rgba(0, 0, 0, 0.4) 50%,
                rgba(0, 0, 0, 0.8) 100%
            ),
            url('https://assets.nflxext.com/ffe/siteui/vlv3/6d631aa6-567d-46ef-a644-b5b00e4334d2/web/IN-en-20251215-TRIFECTA-perspective_f1cab02a-e42b-4913-a7d9-c5fe0f94f68d_large.jpg');
            background-position: center center;
            background-repeat: no-repeat;
            background-size: cover;
            display: flex;
            flex-direction: column;
        }

        
        .main1::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: rgba(0, 0, 0, 0.5);
            z-index: 1;
        }

       
        nav {
            display: flex;
            max-width: 90%;
            align-items: center;
            justify-content: space-between;
            padding: 25px ;
            position: relative;
            z-index: 10;
        }
        nav img {
            height: 35px;
            width: auto;
        }

        .lang {
            display: flex;
            align-items: center;
            gap: 15px;
        }
.text{
    color:white;
    position: relative;
    z-index: 10;
    text-align: center;
    justify-items: center;
}
h1{
    font-size: xx-large;
   font-family: url(NetflixSans_W_Blk (1).woff2)
}
     
