@import url("https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400..700;1,400..700&family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Martel+Sans:wght@200;300;400;600;700;800;900&family=Oswald:wght@200..700&family=Playwrite+US+Trad+Guides&display=swap") * {
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: black;
  color: white;
}
.main1 {
  position: relative;
  height: 95vh;
  background: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.8) 0%,
      rgba(0, 0, 0, 0.4) 50%,
      rgba(0, 0, 0, 0.8) 100%
    ),
    url(https://assets.nflxext.com/ffe/siteui/vlv3/6d631aa6-567d-46ef-a644-b5b00e4334d2/web/IN-en-20251215-TRIFECTA-perspective_f1cab02a-e42b-4913-a7d9-c5fe0f94f68d_large.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;

.main1 {
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.text {
    margin-top: 0;
    margin-bottom: 24px;
}

.main1::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

nav {
  display: flex;
  max-width: 90%;
  align-items: center;
  justify-content: space-between;
  padding: 25px;
  position: relative;
  z-index: 10;
}
nav img {
  height: 35px;
  width: auto;
}

.lang {
  display: flex;
  align-items: center;
  gap: 15px;
}
.text {
  color: white;
  position: relative;
  z-index: 10;
  display: block;
  text-align: center;
  justify-content: center;
  padding: 50px;
  margin-top: 30px;
}

.btn1 {
  background-color: rgb(232, 3, 3);
  padding: 3px 16px;
  border-radius: 8px;
  color: white;
  font-weight: 700;
  margin-right: 30px;
}
.lang {
  background-color: black;
  color: white;
}
.text :first-child {
  font-weight: 900;
  font-size: 48px;
  text-align: center;
}
.text :nth-child(2) {
  font-weight: 700;
  font-size: 24px;
  text-align: center;
}
.text :nth-child(3) {
  font-weight: 400;
  font-size: 20px;
  text-align: center;
}
.start {
  position: relative;
  z-index: 10;
  text-align: center;
  justify-content: center;
}
.email {
  padding: 10px 14px;
  border-radius: 3px;
  border: 2px solid white;
  font-size: 15px;
  color: white;
  background-color: black;
  justify-content: center;
}
.btn2 {
  padding: 10px 14px;
  background-color: red;
  color: white;
  font-weight: 700;
  border: 1px solid black;
  border-radius: 5px;
}
select {
  background-color: black;
  color: white;
  padding: 3px 16px;
  font-weight: 600;
  border-radius: 4px;
  margin-right: 20px;
}

.img{
  width:300px;
   height: 350px;
   display: flex ;
    gap: 40px;
     margin-top: 80px;
}


